{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/auth.css')}}">
{% endblock %}


{% block body %}
<div>
    <form action="{{url_for('.reset_password',email=email,token=token,mixer=mixer)}}" method="POST" id="form-auth">
        <h1>Reset Your Password</h1>
        <input type="hidden" name="resetPasswordToken" value="{{session.get('passwordResetToken')}}" required />
        <label>New Password
            <input type="password" pattern="{{pattern}}" name="nP" class="regular-input" placeholder="New Password" required />
        </label>
        <label>Confirm Password
            <input type="password" pattern="{{pattern}}" name="nPC" class="regular-input" placeholder="Confirm Password" required />
        </label>
        <button type="submit">Change Password</button>
    </form>
</div>
{% endblock %}
